apiVersion: v1
kind: Service
metadata:
  name: postgresql
  namespace: 99-apps
spec:
  type: ClusterIP
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
      protocol: TCP
  selector:
    app: postgresql
