apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: 99-apps
  labels:
    app: backend
spec:
  type: NodePort
  ports:
  - port: 8000
    targetPort: 8000
    nodePort: 30001
    protocol: TCP
    name: http
  selector:
    app: backend
