apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: 99-apps
  labels:
    app: frontend
    component: web
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
  - name: http
    port: 3000
    targetPort: 3000
    nodePort: 30000  # Access via http://localhost:30000
    protocol: TCP
